{% extends "base.html" %}
{% block content %}<div id="container">
  <h1>Previous releases</h1>
  <p>Below is all previous Mantid releases and the related ParaView version, which is required to activate the VATES features within Mantid. You can view installation instructions for each operating system on the <a href="./instructions.html">here</a>.</p>{% for release in releases %}
  <h2><a href="{{ release_notes ~ release['mantid_version'] }}">Release {{ release['mantid_version'] }} &ndash; {{ release['date'] }}</a></h2>
  <table>
    <thead>
      <tr>
        <th>Mantid</th>
        <th>ParaView</th>
      </tr>
    </thead>
    <tbody>{% for osname,downloadurls in release['build_info']|dictsort() %}
      <tr>
        <td><a href="{{ downloadurls[0] }}">{{ downloadurls[0]|tidy_build_name(osname) }}</a></td>
        <td><a href="{{ downloadurls[1] }}">{{ release['paraview_version'] }}</a></td>
      </tr>{% endfor %}
    </tbody>
  </table>{% endfor %}
</div>{% endblock %}
