<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="./img/mantidplot.ico"/>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700">
  <link rel="stylesheet" href="./css/main.css">{% block javascript %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
