{% extends "base.html" %}
{% block javascript %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="./js/main.js"></script>{% endblock %}
{% block content %}  <header class="banner">
  <h1>Download Mantid</h1>
  </header>
  <section id="latest" class="wrapper">
    <h2>Latest release: {{ latest_release['mantid_formatted_version'] }} ({{ latest_release['date'] }})</h2>
    <p id="release_notes">View changes made in <a href="{{ release_notes }}">this release</a>.</p>
    <p class="instructions">Installation instructions:</p>
    <ul class="instructions">{% for instruction in instructions %}
      <li><a href="{{instruction.replace("-", "").lower() ~ '.html' }}">{{ instruction.replace("-", " ") }}</a></li>{% endfor %}
    </ul>
    <div class="windows admonition warning">
      <p>Windows 7/8 users: if you see the following error:</p>
      <img style="display: block; margin-left: auto; margin-right: auto;" src="img/msvc2015-dll.png" width="300px">
      <p>your machine has not had recent Windows updates applied. Please either update Windows fully or install the relevant
	<a href="https://support.microsoft.com/en-gb/help/2999226/update-for-universal-c-runtime-in-windows">standalone</a> update package for your version of x64 Windows.</p>
    </div>
    <a href="#" class="button">Download Mantid for </a>
    <p>Alternative downloads:</p>
    <ul class="alternatives">{% for osname,buildinfo in latest_release['build_info']|dictsort() %}
      <li><a class="{{ buildinfo['type'] }}" href="{{ buildinfo['url'] }}">{{ osname }}</a></li>{% endfor %}
    </ul>
    <a href="./archives.html" id="previous">Previous releases</a>
  </section>
    <section id="gridcontainer">
      <article id="samples" class="column">
        <h2>Sample datasets</h2>
        <p>Sample datasets for use in Mantid:</p>
        <ul> {% for name,downloadurl in sample_datasets %}
          <li><a href="{{ downloadurl }}">{{ name }}</a></li>{% endfor %}
        </ul>
      </article>
      <article id="examples" class="column">
        <h2>Additional examples</h2>
        <p>Help documentation and examples can be found <a href="http://www.mantidproject.org/Documentation">here</a> </p>
        <p>The IPython notebook is not officially supported for use with Mantid, but an example notebook is provided below. </p>
        <ul> {% for name,downloadurl in ipython_notebook %}
            <li><a href="{{ downloadurl }}">{{ name }}</a></li>{% endfor %}
        </ul>
      </article>
      <article id="nightly" class="column">
        <h2>Nightly builds</h2>
        <p><i>Nightly development build &ndash; minimally tested and <b>not</b> recommended for general use.</i></p>
        <!-- <p><i>Build date: {{ nightly_release['date'] }}</i></p> -->
        <!-- <a href="#" class="button">Download Mantid for </a> -->
        <!-- <p>Alternative downloads:</p> -->
        <ul class="alternatives">{% for osname,buildinfo in nightly_release['build_info']|dictsort() %}
          <li><a class="{{ buildinfo['type'] }}" href="{{ buildinfo['url'] }}">{{ osname }}</a>: {{ buildinfo['date'] }}</li>{% endfor %}
        </ul>
        <p>View <a href="https://github.com/mantidproject/mantid/commits/">recent changes</a> on GitHub.</p>
        <p>Previous nightly builds can be found <a href="https://sourceforge.net/projects/mantid/files/Nightly/">here</a>.</p>
      </article>
    </section>{% endblock %}
